@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  padding-left:250px;
  padding-right:10px;
  background-color:;
  min-width: 1000px;
}
.monthcolor{
  color:white;
}
.btnn{
 position: fixed;
  top: 10px;
  left: 190px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  z-index:10;
}
.btnn.clickk{
  left: 200px;
 position: fixed;
 
}
.btnn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btnn.clickk span:before{
  content: '\f00d';
}
.sidebarr{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
  z-index: 1;
}
.sidebarr.showw{
  left: 0px;
}
.sidebarr .textt{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.activee a{
  color: #51BCAD;
  background: #1e1e1e;
  border-left-color: #51BCAD;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
/* script drop down */
nav ul .feat-showw.showw{
  display: block;
}
nav ul .serv-showw.show11{
  display: block;
}
nav ul .third-showw.show111{
  display: block;
}
/**/
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.activee ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotatee{
  transform: translateY(-50%) rotate(-180deg);
}
/*############################################################################# side bar */
.content{
  
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}
/*############################################################################ admin */
.admin{
 width: 150px;
    height: 150px;
   //border: 3px solid black;
  border-radius:50%;
}
/*############################################################################ header */
.monthcolor{
  color:white;
}
.rncicon{
  float:left;
  height:100%;
   z-index: -10;
}

.buttonNav{
  width: 100px;  color:white;
  transition:.2s;
  cursor: pointer;
  background-color: #333948;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
}
.buttonNav:hover{
  background:#2E94E3;

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 21.8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width:230px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*############################################################################ clock */
.datetime{
  color: #fff;
  background: #333948;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 15px 10px;
 
  border-radius: 8px;

  transition: 0.5s;
  transition-property: background, box-shadow;

}

.datetime:hover{
  background: #27AE60;
  box-shadow: 0 0 30px ;
}

.date{
   font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  display: none;
}

.time{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
 /* margin-top:10px; */
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{

  background: #27AE60;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -2px;
  padding: 0 5px;
  border-radius: 3px;
}
.time span:last-child:hover{
color:black;
background-color:white;
transition:.5s;
}
/* ####################################################################### calendar*/
* {
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: "Poppins", sans-serif;
        }

        * {
            margin: 0;
            box-sizing: border-box;
        }

         .wrapper {
            background-color: #dfe6e9;
            width: 100%;
          
            
        }

        .calendar {
            margin-top: -30px;
            width: 100%;
          
            box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
        }

        .month {
             display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px 10px;
            text-align: center;
            background-color: #333948;
            color: #fff;
             border-radius: 8px 8px 0px 0px;


             transition:.5s;
        }
        .month:hover{
             //background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
        }
        .month h2{
           vertical-align: middle;
        }

        .weekdays {
            background-color: #333948 ;
            color: #fff;
            padding: 7px 5px;
            display: flex;
        }

        .days {
           font-weight: 250;
            padding: 0px 0px;
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            transition: 0.5s;
            transition-property: background, box-shadow;
        }

        .weekdays div,
        .days div {
            text-align: center;
            width: 14.28%;
        }

        .days div {
              padding: 10px 0;
            margin-bottom: px;
            transition: all 0.4s;
            height: 50px;
        }

        .prev_date {
            color: #999;
        }

        .today {
            background-color: #27ae60;
            color: #fff;
        }

        .days div:hover {
            cursor: pointer;
            background-color: #dfe6e9
        }

        .prev,
        .next {
           display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 23px;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 0.4s;
        }

        .prev:hover,
        .next:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }

        #month {
            font-size: 20px;
            font-weight: 500;
        }

/* ################################################################################################ BODY */
.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
}
.sb-example-1 .searchTerm {
 color:grey;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  padding: 10px 20px;
  margin:  5px 0px;
  margin-left: 10px;
  //display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
   box-sizing: border-box;
}
.sb-example-1 .searchTerm:focus{
  color: black;
}
.sb-example-1 .searchButton {
  width: 40px;
  height: 45px;
  margin:  5px 0px;
  background: #333948;
  text-align: center;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 15px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-height: 200px;
    overflow: scroll;


}
.styled-table thead tr {

    



}
.style-table thead tr th{

}
.styled-table th{
    position:sticky;
  top:0;
  background-color: #333948;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;


}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;

}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;

}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
   /* TEXT DESIGNS*/
h2 { 
  color: #111; font-family: 'Poppins', sans-serif; 
  font-size: 18px; 
  font-weight: 300;   
}

/* #####################################################################################################MODAL */
.modal-daytour{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  .fade-in {
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: .5s;
  }
  @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      50%{
        opacity:.5;
      }
      100% {
          opacity: 1;
      }
  }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
   border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeconfirm{
   color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal input[type=text],.modal input[type=password],.modal select,.modal input[type=file]{
  color:grey;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0px;
  //display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

.modal input[type=text]:focus {
  background-color: white;
}
.modal .label{
  font-weight:;
  font-size:1em;
  font-family: 'Poppins', sans-serif;
}
.modal-footer{

  text-align: right;
}
.modal input[type=datetime-local]{
color:grey;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0px;
  //display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal input[type=datetime-local]:focus {
  background-color: white;
}


/* The Modal (background) */
.modal-deposit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-deposit {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
   border-radius: 8px;
}

/* The Close Button */
.close-deposit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-deposit:hover,
.close-deposit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.lineText {
  display: flex;
  flex-direction: row;
}
.lineText:before, .lineText:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.lineText:before {
  margin-right: 10px
}
.lineText:after {
  margin-left: 10px
}

.close12 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close12:hover,
.close12:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.proof{
  background-color:#B1E8C1 !important; 
  cursor: pointer;
  padding: 5px;
}
.proof:hover{
  cursor: pointer !important;
    background-color:#f5f5f5 !important;
    -webkit-box-shadow: -1px 1px 7px 0px #000000 !important; 
    box-shadow: -1px 1px 24px 0px #000000 !important;;
}


.buttons{
 width: 70px;  color:white;
  transition:.2s;
  cursor: pointer;
  background-color: #333948;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  align-items: ;
}
.buttons:hover{
   background:#2E94E3;
}
.screenshot{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #0049FF;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 992px){
  .mobile{
    visibility: none;
    transition: 3s;
  }

  body{
  padding-left:0px;
 
  }
  .btnn{
    left: 10px;
  }
}
</style>
</style>



    </style>